// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
.section-footer {
  flex: 0 0 auto;
  background-color: $color-shark;
  border-top: 2px solid $color-ebony-clay;

  .section-inner {
    @include flex(center, space-between);
  }
}

.footer {
  &__copy {
    color: $color-white-50t;
    font-size: $fs-xs;
    line-height: 20px;
  }

  &__nav {
    .nav {
      &__link {
        color: $color-white-50t;
        font-size: $fs-xs;
        line-height: 20px;

        &:hover,
        &:focus {
          color: $color-white;
        }
      }
    }
  }
}